/* Center the container with side-by-side layout */
.reset-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #FFA500, #000000);
}

/* Logo styling */
.reset-logo {
    margin-right: 50px;
}

.reset-logo img {
    width: 400px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

/* Reset form styling */
.reset-form {
    background: white;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 340px;
}

.reset-form h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
    text-shadow: 0px 3px 3px #888;
}

/* Input field styling with container for the icon */
.reset-input-group {
    margin-top: 15px;
    margin-left: 20px;
}

.reset-input-container {
    position: relative;
    width: 85%;
    margin: 10px 0;
}

.reset-input {
    width: 90%;
    padding: 12px 40px 12px 12px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

/* Password visibility toggle icon */
.resetpassword-toggle-icon {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 16px;
}

/* Continue button styling */
.continue-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    margin-top: 15px;
    width: 55%;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border: none;
}
